body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6238 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:50px;
  width:237px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u6239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:1158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6239 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:196px;
  width:460px;
  height:1158px;
}
#u6239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:1158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6240 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:196px;
  width:460px;
  height:1158px;
}
#u6240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:1158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6241 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:196px;
  width:460px;
  height:1158px;
}
#u6241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6243 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:154px;
  width:460px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:456px;
  word-wrap:break-word;
}
#u6244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6244 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:154px;
  width:460px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:456px;
  word-wrap:break-word;
}
#u6245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6245 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:154px;
  width:460px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:456px;
  word-wrap:break-word;
}
#u6246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6246 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:243px;
  width:100px;
  height:60px;
}
#u6246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6247 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:387px;
  width:100px;
  height:60px;
}
#u6247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6248 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:303px;
  width:0px;
  height:0px;
}
#u6248_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u6248_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6248_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:69px;
  width:20px;
  height:20px;
}
#u6248_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6249 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:577px;
  width:100px;
  height:60px;
}
#u6249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u6250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6250 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:738px;
  width:100px;
  height:60px;
}
#u6250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u6251 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:637px;
  width:0px;
  height:0px;
}
#u6251_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:105px;
}
#u6251_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6251_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:86px;
  width:20px;
  height:20px;
}
#u6251_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:43px;
  width:100px;
  word-wrap:break-word;
}
#u6252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6252 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:872px;
  width:100px;
  height:60px;
}
#u6252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u6253 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:798px;
  width:0px;
  height:0px;
}
#u6253_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u6253_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6253_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u6253_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6254 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:387px;
  width:100px;
  height:60px;
}
#u6254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6255 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:417px;
  width:0px;
  height:0px;
}
#u6255_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:725px;
  height:8px;
}
#u6255_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6255_seg2 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6255_text {
  border-width:0px;
  position:absolute;
  left:310px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6256 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:387px;
  width:100px;
  height:60px;
}
#u6256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u6257 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:417px;
  width:0px;
  height:0px;
}
#u6257_seg0 {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:-4px;
  width:111px;
  height:8px;
}
#u6257_seg1 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6257_seg2 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6257_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6258 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:872px;
  width:100px;
  height:60px;
}
#u6258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u6259 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:902px;
  width:0px;
  height:0px;
}
#u6259_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:265px;
  height:8px;
}
#u6259_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6259_seg2 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6259_text {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u6260 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:862px;
  width:60px;
  height:80px;
}
#u6260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u6261 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:902px;
  width:0px;
  height:0px;
}
#u6261_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u6261_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6261_seg2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6261_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u6262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6262 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:1052px;
  width:100px;
  height:60px;
}
#u6262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6263 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:1205px;
  width:100px;
  height:60px;
}
#u6263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6264 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:1112px;
  width:0px;
  height:0px;
}
#u6264_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u6264_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6264_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:78px;
  width:20px;
  height:20px;
}
#u6264_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6265 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:102px;
  width:155px;
  height:16px;
}
#u6265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u6266 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:447px;
  width:0px;
  height:0px;
}
#u6266_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u6266_seg1 {
  border-width:0px;
  position:absolute;
  left:-365px;
  top:66px;
  width:369px;
  height:8px;
}
#u6266_seg2 {
  border-width:0px;
  position:absolute;
  left:-365px;
  top:66px;
  width:8px;
  height:64px;
}
#u6266_seg3 {
  border-width:0px;
  position:absolute;
  left:-371px;
  top:115px;
  width:20px;
  height:20px;
}
#u6266_text {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6267 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:942px;
  width:0px;
  height:0px;
}
#u6267_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u6267_seg1 {
  border-width:0px;
  position:absolute;
  left:-585px;
  top:58px;
  width:589px;
  height:8px;
}
#u6267_seg2 {
  border-width:0px;
  position:absolute;
  left:-585px;
  top:58px;
  width:8px;
  height:52px;
}
#u6267_seg3 {
  border-width:0px;
  position:absolute;
  left:-591px;
  top:95px;
  width:20px;
  height:20px;
}
#u6267_text {
  border-width:0px;
  position:absolute;
  left:-334px;
  top:54px;
  width:100px;
  word-wrap:break-word;
}
#u6268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6268 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:163px;
  width:78px;
  height:25px;
}
#u6268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
