body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1991px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36191 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:37px;
  width:217px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u36192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u36192 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:123px;
  width:100px;
  height:60px;
}
#u36192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36193 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:265px;
  width:100px;
  height:60px;
}
#u36193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u36194 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:183px;
  width:0px;
  height:0px;
}
#u36194_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u36194_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u36194_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u36194_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36195 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:420px;
  width:100px;
  height:60px;
}
#u36195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36196 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:325px;
  width:0px;
  height:0px;
}
#u36196_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:99px;
}
#u36196_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u36196_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u36196_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36197 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:420px;
  width:100px;
  height:60px;
}
#u36197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36198 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:450px;
  width:0px;
  height:0px;
}
#u36198_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u36198_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36198_seg2 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36198_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36199 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:420px;
  width:100px;
  height:60px;
}
#u36199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36200 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:450px;
  width:0px;
  height:0px;
}
#u36200_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u36200_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36200_seg2 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36200_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36201 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:420px;
  width:100px;
  height:60px;
}
#u36201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36202 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:450px;
  width:0px;
  height:0px;
}
#u36202_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:119px;
  height:8px;
}
#u36202_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36202_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36202_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36203 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:554px;
  width:100px;
  height:60px;
}
#u36203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36204 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:689px;
  width:100px;
  height:60px;
}
#u36204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36205 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:450px;
  width:0px;
  height:0px;
}
#u36205_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u36205_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-4px;
  width:8px;
  height:142px;
}
#u36205_seg2 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:130px;
  width:51px;
  height:8px;
}
#u36205_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36205_seg4 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:124px;
  width:20px;
  height:20px;
}
#u36205_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36206 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:450px;
  width:0px;
  height:0px;
}
#u36206_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u36206_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-4px;
  width:8px;
  height:277px;
}
#u36206_seg2 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:265px;
  width:51px;
  height:8px;
}
#u36206_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36206_seg4 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:259px;
  width:20px;
  height:20px;
}
#u36206_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:116px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36207 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:823px;
  width:100px;
  height:60px;
}
#u36207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36208 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:450px;
  width:0px;
  height:0px;
}
#u36208_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u36208_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-4px;
  width:8px;
  height:411px;
}
#u36208_seg2 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:399px;
  width:51px;
  height:8px;
}
#u36208_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36208_seg4 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:393px;
  width:20px;
  height:20px;
}
#u36208_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:183px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36209 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:957px;
  width:100px;
  height:60px;
}
#u36209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36210 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:450px;
  width:0px;
  height:0px;
}
#u36210_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u36210_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-4px;
  width:8px;
  height:545px;
}
#u36210_seg2 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:533px;
  width:51px;
  height:8px;
}
#u36210_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36210_seg4 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:527px;
  width:20px;
  height:20px;
}
#u36210_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:250px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36211 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:420px;
  width:100px;
  height:60px;
}
#u36211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36212 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:450px;
  width:0px;
  height:0px;
}
#u36212_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u36212_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36212_seg2 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36212_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36213 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:554px;
  width:100px;
  height:60px;
}
#u36213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36214 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:688px;
  width:100px;
  height:60px;
}
#u36214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36215 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:450px;
  width:0px;
  height:0px;
}
#u36215_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u36215_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-4px;
  width:8px;
  height:142px;
}
#u36215_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:130px;
  width:55px;
  height:8px;
}
#u36215_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36215_seg4 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:124px;
  width:20px;
  height:20px;
}
#u36215_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36216 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:450px;
  width:0px;
  height:0px;
}
#u36216_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u36216_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-4px;
  width:8px;
  height:276px;
}
#u36216_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:264px;
  width:55px;
  height:8px;
}
#u36216_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36216_seg4 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:258px;
  width:20px;
  height:20px;
}
#u36216_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36217 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:450px;
  width:0px;
  height:0px;
}
#u36217_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u36217_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36217_seg2 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36217_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36218 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:420px;
  width:100px;
  height:60px;
}
#u36218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36219 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:554px;
  width:100px;
  height:60px;
}
#u36219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36220 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:554px;
  width:100px;
  height:60px;
}
#u36220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36221 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:480px;
  width:0px;
  height:0px;
}
#u36221_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u36221_seg1 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:56px;
  width:114px;
  height:8px;
}
#u36221_seg2 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:56px;
  width:8px;
  height:18px;
}
#u36221_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u36221_seg4 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:59px;
  width:20px;
  height:20px;
}
#u36221_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36222 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:480px;
  width:0px;
  height:0px;
}
#u36222_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u36222_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:56px;
  width:114px;
  height:8px;
}
#u36222_seg2 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:56px;
  width:8px;
  height:18px;
}
#u36222_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u36222_seg4 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:59px;
  width:20px;
  height:20px;
}
#u36222_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36223 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:420px;
  width:100px;
  height:60px;
}
#u36223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36224 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:450px;
  width:0px;
  height:0px;
}
#u36224_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u36224_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36224_seg2 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36224_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36225 {
  border-width:0px;
  position:absolute;
  left:1772px;
  top:420px;
  width:100px;
  height:60px;
}
#u36225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36226 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:450px;
  width:0px;
  height:0px;
}
#u36226_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:136px;
  height:8px;
}
#u36226_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36226_seg2 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36226_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36227 {
  border-width:0px;
  position:absolute;
  left:1772px;
  top:554px;
  width:100px;
  height:60px;
}
#u36227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36228 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:450px;
  width:0px;
  height:0px;
}
#u36228_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u36228_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-4px;
  width:8px;
  height:142px;
}
#u36228_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:130px;
  width:56px;
  height:8px;
}
#u36228_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36228_seg4 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:124px;
  width:20px;
  height:20px;
}
#u36228_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u36229 {
  border-width:0px;
  position:absolute;
  left:1772px;
  top:716px;
  width:100px;
  height:60px;
}
#u36229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36230 {
  border-width:0px;
  position:absolute;
  left:1872px;
  top:584px;
  width:0px;
  height:0px;
}
#u36230_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u36230_seg1 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:-4px;
  width:8px;
  height:87px;
}
#u36230_seg2 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:75px;
  width:174px;
  height:8px;
}
#u36230_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:75px;
  width:8px;
  height:57px;
}
#u36230_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36230_seg5 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:117px;
  width:20px;
  height:20px;
}
#u36230_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:71px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36231 {
  border-width:0px;
  position:absolute;
  left:1872px;
  top:450px;
  width:0px;
  height:0px;
}
#u36231_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u36231_seg1 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:-4px;
  width:8px;
  height:221px;
}
#u36231_seg2 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:209px;
  width:174px;
  height:8px;
}
#u36231_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:209px;
  width:8px;
  height:57px;
}
#u36231_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u36231_seg5 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:251px;
  width:20px;
  height:20px;
}
#u36231_text {
  border-width:0px;
  position:absolute;
  left:66px;
  top:150px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
