body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4349 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:460px;
  height:2294px;
}
#u4349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4350 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:100px;
  width:460px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:456px;
  word-wrap:break-word;
}
#u4351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4352 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:150px;
  width:460px;
  height:2294px;
}
#u4352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4353 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:100px;
  width:460px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:456px;
  word-wrap:break-word;
}
#u4354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4355 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:150px;
  width:460px;
  height:2294px;
}
#u4355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4356 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:100px;
  width:460px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:456px;
  word-wrap:break-word;
}
#u4357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4357 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:37px;
  width:193px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4358 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:242px;
  width:100px;
  height:60px;
}
#u4358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4359 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:387px;
  width:100px;
  height:60px;
}
#u4359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4360 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:387px;
  width:100px;
  height:60px;
}
#u4360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4361 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:529px;
  width:100px;
  height:60px;
}
#u4361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4362 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:681px;
  width:100px;
  height:60px;
}
#u4362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4363 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:860px;
  width:100px;
  height:60px;
}
#u4363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4364 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:860px;
  width:100px;
  height:60px;
}
#u4364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4365 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1022px;
  width:100px;
  height:60px;
}
#u4365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4366 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1022px;
  width:100px;
  height:60px;
}
#u4366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4367 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1183px;
  width:100px;
  height:60px;
}
#u4367_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4368 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1183px;
  width:100px;
  height:60px;
}
#u4368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4369 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1359px;
  width:100px;
  height:60px;
}
#u4369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4370 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:427px;
  width:100px;
  height:60px;
}
#u4370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4371 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:593px;
  width:100px;
  height:60px;
}
#u4371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4372 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:254px;
  width:100px;
  height:60px;
}
#u4372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4373 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1698px;
  width:100px;
  height:60px;
}
#u4373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4374 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:1698px;
  width:100px;
  height:60px;
}
#u4374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4375 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1814px;
  width:100px;
  height:60px;
}
#u4375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4376 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:1953px;
  width:100px;
  height:60px;
}
#u4376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4377 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:2132px;
  width:100px;
  height:60px;
}
#u4377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4378 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:2132px;
  width:100px;
  height:60px;
}
#u4378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4379 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:2310px;
  width:100px;
  height:60px;
}
#u4379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4380 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:529px;
  width:100px;
  height:60px;
}
#u4380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  word-wrap:break-word;
}
#u4381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4381 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:681px;
  width:100px;
  height:60px;
}
#u4381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u4382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4382 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1521px;
  width:100px;
  height:60px;
}
#u4382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4383 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:1953px;
  width:100px;
  height:60px;
}
#u4383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4384 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:302px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4384_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u4384_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:70px;
  width:20px;
  height:20px;
}
#u4384_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4385 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:417px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4385_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:363px;
  height:8px;
}
#u4385_seg1 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4385_text {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4386 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:447px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4386_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u4386_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u4386_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4387 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:589px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4387_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u4387_seg1 {
  border-width:0px;
  position:absolute;
  left:-463px;
  top:46px;
  width:467px;
  height:8px;
}
#u4387_seg2 {
  border-width:0px;
  position:absolute;
  left:-463px;
  top:46px;
  width:8px;
  height:46px;
}
#u4387_seg3 {
  border-width:0px;
  position:absolute;
  left:-469px;
  top:77px;
  width:20px;
  height:20px;
}
#u4387_text {
  border-width:0px;
  position:absolute;
  left:-276px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4388 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:711px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4388_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:363px;
  height:8px;
}
#u4388_seg1 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4388_text {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4389 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:741px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4389_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u4389_seg1 {
  border-width:0px;
  position:absolute;
  left:-463px;
  top:55px;
  width:467px;
  height:8px;
}
#u4389_seg2 {
  border-width:0px;
  position:absolute;
  left:-463px;
  top:55px;
  width:8px;
  height:64px;
}
#u4389_seg3 {
  border-width:0px;
  position:absolute;
  left:-469px;
  top:104px;
  width:20px;
  height:20px;
}
#u4389_text {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4390 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:890px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4390_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:363px;
  height:8px;
}
#u4390_seg1 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4390_text {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4391 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:920px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4391_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u4391_seg1 {
  border-width:0px;
  position:absolute;
  left:-463px;
  top:47px;
  width:467px;
  height:8px;
}
#u4391_seg2 {
  border-width:0px;
  position:absolute;
  left:-463px;
  top:47px;
  width:8px;
  height:55px;
}
#u4391_seg3 {
  border-width:0px;
  position:absolute;
  left:-469px;
  top:87px;
  width:20px;
  height:20px;
}
#u4391_text {
  border-width:0px;
  position:absolute;
  left:-280px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4392 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1052px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4392_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:363px;
  height:8px;
}
#u4392_seg1 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4392_text {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4393 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:1082px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4393_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u4393_seg1 {
  border-width:0px;
  position:absolute;
  left:-463px;
  top:47px;
  width:467px;
  height:8px;
}
#u4393_seg2 {
  border-width:0px;
  position:absolute;
  left:-463px;
  top:47px;
  width:8px;
  height:54px;
}
#u4393_seg3 {
  border-width:0px;
  position:absolute;
  left:-469px;
  top:86px;
  width:20px;
  height:20px;
}
#u4393_text {
  border-width:0px;
  position:absolute;
  left:-279px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4394 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1213px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4394_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:363px;
  height:8px;
}
#u4394_seg1 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4394_text {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4395 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:1243px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4395_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u4395_seg1 {
  border-width:0px;
  position:absolute;
  left:-463px;
  top:48px;
  width:467px;
  height:8px;
}
#u4395_seg2 {
  border-width:0px;
  position:absolute;
  left:-463px;
  top:48px;
  width:8px;
  height:68px;
}
#u4395_seg3 {
  border-width:0px;
  position:absolute;
  left:-469px;
  top:101px;
  width:20px;
  height:20px;
}
#u4395_text {
  border-width:0px;
  position:absolute;
  left:-286px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4396 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:1419px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4396_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:106px;
}
#u4396_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:87px;
  width:20px;
  height:20px;
}
#u4396_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4397 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:1581px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4397_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:121px;
}
#u4397_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:102px;
  width:20px;
  height:20px;
}
#u4397_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4398 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1728px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4398_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:823px;
  height:8px;
}
#u4398_seg1 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4398_text {
  border-width:0px;
  position:absolute;
  left:360px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4399 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:1758px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4399_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u4399_seg1 {
  border-width:0px;
  position:absolute;
  left:-410px;
  top:82px;
  width:414px;
  height:8px;
}
#u4399_seg2 {
  border-width:0px;
  position:absolute;
  left:-415px;
  top:76px;
  width:20px;
  height:20px;
}
#u4399_text {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:76px;
  width:100px;
  word-wrap:break-word;
}
#u4400 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:1728px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4400_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u4400_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-4px;
  width:8px;
  height:169px;
}
#u4400_seg2 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:157px;
  width:147px;
  height:8px;
}
#u4400_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:157px;
  width:8px;
  height:68px;
}
#u4400_seg4 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:210px;
  width:20px;
  height:20px;
}
#u4400_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:130px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4401 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:1983px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4401_seg0 {
  border-width:0px;
  position:absolute;
  left:-414px;
  top:-4px;
  width:414px;
  height:8px;
}
#u4401_seg1 {
  border-width:0px;
  position:absolute;
  left:-414px;
  top:-109px;
  width:8px;
  height:113px;
}
#u4401_seg2 {
  border-width:0px;
  position:absolute;
  left:-420px;
  top:-114px;
  width:20px;
  height:20px;
}
#u4401_text {
  border-width:0px;
  position:absolute;
  left:-310px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4402 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:1983px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4402_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u4402_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4402_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4403 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:2013px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4403_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:153px;
}
#u4403_seg1 {
  border-width:0px;
  position:absolute;
  left:-410px;
  top:145px;
  width:414px;
  height:8px;
}
#u4403_seg2 {
  border-width:0px;
  position:absolute;
  left:-415px;
  top:139px;
  width:20px;
  height:20px;
}
#u4403_text {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:140px;
  width:100px;
  word-wrap:break-word;
}
#u4404 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:2162px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4404_seg0 {
  border-width:0px;
  position:absolute;
  left:-359px;
  top:-4px;
  width:363px;
  height:8px;
}
#u4404_seg1 {
  border-width:0px;
  position:absolute;
  left:-364px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4404_text {
  border-width:0px;
  position:absolute;
  left:-230px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4405 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:2192px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4405_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:122px;
}
#u4405_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:103px;
  width:20px;
  height:20px;
}
#u4405_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4406 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:559px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4406_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u4406_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4406_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4407 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:314px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4407_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:117px;
}
#u4407_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:98px;
  width:20px;
  height:20px;
}
#u4407_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4408 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:487px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4408_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:110px;
}
#u4408_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:91px;
  width:20px;
  height:20px;
}
#u4408_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4409 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:623px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4409_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:87px;
  height:8px;
}
#u4409_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-68px;
  width:8px;
  height:72px;
}
#u4409_seg2 {
  border-width:0px;
  position:absolute;
  left:-205px;
  top:-68px;
  width:126px;
  height:8px;
}
#u4409_seg3 {
  border-width:0px;
  position:absolute;
  left:-210px;
  top:-74px;
  width:20px;
  height:20px;
}
#u4409_text {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
