body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:603px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6531 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:37px;
  width:213px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u6532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6532 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:98px;
  width:78px;
  height:25px;
}
#u6532_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u6533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6534 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:178px;
  width:44px;
  height:44px;
}
#u6534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6535 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:182px;
  width:36px;
  height:36px;
  color:#FFFFFF;
}
#u6535_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u6536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6536 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:320px;
  width:100px;
  height:60px;
}
#u6536_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u6537 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:222px;
  width:0px;
  height:0px;
}
#u6537_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:102px;
}
#u6537_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:83px;
  width:20px;
  height:20px;
}
#u6537_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6538 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:465px;
  width:100px;
  height:60px;
}
#u6538_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u6539 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:380px;
  width:0px;
  height:0px;
}
#u6539_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u6539_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:70px;
  width:20px;
  height:20px;
}
#u6539_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6540 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:465px;
  width:100px;
  height:60px;
}
#u6540_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u6541 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:495px;
  width:0px;
  height:0px;
}
#u6541_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u6541_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6541_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u6542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6542 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:614px;
  width:100px;
  height:60px;
}
#u6542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6543 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:525px;
  width:0px;
  height:0px;
}
#u6543_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u6543_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:74px;
  width:20px;
  height:20px;
}
#u6543_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  word-wrap:break-word;
}
#u6544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6544 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:761px;
  width:100px;
  height:60px;
}
#u6544_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u6545 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:674px;
  width:0px;
  height:0px;
}
#u6545_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u6545_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:72px;
  width:20px;
  height:20px;
}
#u6545_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
#u6546 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:791px;
  width:0px;
  height:0px;
}
#u6546_seg0 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-4px;
  width:98px;
  height:8px;
}
#u6546_seg1 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-445px;
  width:8px;
  height:449px;
}
#u6546_seg2 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-445px;
  width:98px;
  height:8px;
}
#u6546_seg3 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-451px;
  width:20px;
  height:20px;
}
#u6546_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-228px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6547 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:761px;
  width:100px;
  height:60px;
}
#u6547_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6548 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:791px;
  width:0px;
  height:0px;
}
#u6548_seg0 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-4px;
  width:96px;
  height:8px;
}
#u6548_seg1 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6548_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6550 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:916px;
  width:44px;
  height:44px;
}
#u6550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6551 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:920px;
  width:36px;
  height:36px;
  color:#FFFFFF;
}
#u6551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u6552 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:821px;
  width:0px;
  height:0px;
}
#u6552_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:99px;
}
#u6552_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u6552_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
